$dark-primary-color: #616161;
$light-primary-color: #FFF;
$primary-color: #9E9E9E;
$accent-color: #0288D1;

$bg-color: #ECEFF1;
$divider-color: #eeeeee;
$bg-header-color: #039be5;

$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-text-color: #fff;
$utility-text-color: rgba(255, 255, 255, 0.85);


$service-online-color: #81C784;
$service-offline-color: #E57373;