$dark-primary-color: #616161;
$light-primary-color: #FFF;
$primary-color: #9E9E9E;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-text-color: #fff;
$accent-color: #35AFEA;
$bg-color: #ECEFF1;
$divider-color: #eeeeee;
$bg-header-color: #039be5;
