$dark-primary-color: #616161;
$light-primary-color: #F5F5F5;
$primary-color: #9E9E9E;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-text-color: #fff;
$accent-color: #0074D9;
$bg-color: #AAAA;
$divider-color: #BDBDBD;
